/* Estilo geral para o formulário */
form {
  max-width: 400px; /* Aumentei a largura para melhor visualização */
  margin: 40px auto; /* Adicionei espaço extra em cima */
  padding: 25px;
  border: 1px solid #ddd; /* Cor mais clara para o border */
  border-radius: 10px;
  background-color: #fff; /* Fundo branco para contraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras mais suaves */
  font-family: 'Arial', sans-serif;
}

/* Estilo para o título */
h2 {
  text-align: center;
  font-size: 26px;
  color: #444; /* Um cinza mais claro */
  margin-bottom: 25px;
  text-transform: uppercase; /* Transformar o título para maiúsculas */
}

/* Estilo para as divs de campo */
div {
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
}

/* Estilo para os selects */
select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa; /* Fundo mais claro para os campos */
  transition: border-color 0.3s ease; /* Suave transição de cor de borda */
  box-sizing: border-box;
}

select:focus {
  border-color: #a769e0; /* Foco com cor destaque */
  outline: none; /* Remover contorno padrão */
}

/* Estilo para o botão */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #a769e0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px; /* Tamanho maior da fonte */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave para hover */
}

button[type="submit"]:hover {
  background-color: #7a43b6; /* Cor mais escura ao passar o mouse */
}

/* Adicionei um estilo de foco para acessibilidade */
button[type="submit"]:focus {
  outline: 2px solid #4CAF50;
  outline-offset: 4px;
}

/* Responsividade básica */
@media (max-width: 480px) {
  form {
    padding: 20px;
    width: 90%;
  }
  
  h2 {
    font-size: 22px;
  }
}
