/* Estilo geral para o container do formulário */
.container{
    width: 100%; /* Ajuste a largura para ocupar todo o espaço do container pai */
    max-width: 350px; /* Define uma largura máxima para manter o layout responsivo */
    margin: 0 auto; /* Centraliza o formulário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Impede que os filhos ultrapassem o limite do container */
  }
  
  /* Estilo para o título */
  h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilo para as divs de campo */
  div > div {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    color: #555;
    display: flex;
    flex-direction: column; /* Certifica que o label e o input fiquem na vertical */
  }
  
  /* Estilo para os labels */
  label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  /* Estilo para os inputs */
  input[type="text"], 
  input[type="password"] {
    width: 100%; /* Garante que o input não ultrapasse o tamanho do container */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura total */
  }
  
  /* Estilo para o botão */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #a769e0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #4CAF50;
  }
  